@import url("Footer.css");
@import url("Invoice.css");

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-container {
  padding-top: 5%;
  width: 90%;
  margin: 0 auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input {
  border: none;
  background: transparent;
  text-align:left;
  width: 100%;
  height: 100%;
  color: rgba(0, 0, 0, 0.6);
  font-family: sans-serif;
  font-size: 18px;
}

tbody td:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.Validate {
  display: none;
  font-size: 13px;
  font-weight: 600;
  color: rgb(200, 0, 0);
}

::-webkit-scrollbar {
  width: 6px;
} 
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media only screen and (max-width: 500px) {
    input {
        font-size: 15px;
    }
}

